.lista-suspensa-form {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  padding: 8px 16px;
}

.lista-suspensa-form option {
  background-color: #4a4949;
}
